

https://34.217.193.123/cafe/

35.85.54.219

44.248.153.177



AWS Account::     {                                                                                               
    "UserId": "AROATFKT6K47VDPQF4FNM:user4117163=Michael_Odhiambo_Randa",                       
    "Account": "217608771391",                                                                  
    "Arn": "arn:aws:sts::217608771391:assumed-role/voclabs/user4117163=Michael_Odhiambo_Randa"  
} 
